<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title><%=title%></title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="css/styles.css" rel="stylesheet">
    <style>
      .center-box {
        color: rgb(0, 0, 0);
        font-weight: bold;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 34%;
        padding: 20px;
        position: absolute;
        text-align: center;
      }

      .borderIt{
        border: 1px solid rgba(255, 255, 255, 0.342);
        border-radius: 30px;
        background-color:rgba(0, 0, 0, 0); 
      }

    </style>

    <script>
      function newbook(){
        alert("Thank You!\nOur team will verify the data you've entered before adding it to our collection.")
      }
    </script>
	</head>
	<body>
<header class="navbar navbar-bright navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">Home</a>
    </div>
    <nav class="collapse navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <%for(i=0;i<nav.length;i++){%>
        <li>
          <a href="<%=nav[i].link%>"><%=nav[i].name%></a>
        </li>
        <%}%>
      </ul>
      <ul class="nav navbar-right navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-search"></i></a>
          <ul class="dropdown-menu" style="padding:12px;">
            <form class="form-inline">
              <button type="submit" class="btn btn-default pull-right"><i class="glyphicon glyphicon-search"></i></button><input type="text" class="form-control pull-left" placeholder="Search">
            </form>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="masthead">  
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><%=title%>
          <p class="lead"></p>
        </h1>
      </div>
      <div class="col-md-5">
        <div class="well well-lg" style="background-color:rgba(255, 255, 255, 0); border: 0px;"> 
          <div class="row">
            <div class="col-sm-12">
              
			
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div><!-- /cont -->

  
</div>


<div class="container" >
  <div class='center-box '>
    <div class="text-light">
      <br><br><br><br><br>
      <br><br><br><br><br>
      
      <div class="w-75 p-3"></div>

      <form action='/' onsubmit="return newbook()">
        <div class="form-group text-left font-weight-normal">
          <label >Name*</label>
          <input type="text" class="form-control" placeholder="Enter name" required>
        </div>
        <div class="form-group text-left font-weight-normal">
          <label >Place*</label>
          <input type="text" class="form-control" placeholder="Enter place of origin" required>
        </div>
        <div class="form-group text-left font-weight-normal">
          <label>Date Of Birth*</label>
          <input type="text" class="form-control" placeholder="Enter dob" required>
        </div>
        <div class="form-group text-left font-weight-normal">
          <label for="img">Select image:</label>
          <input type="file" id="img" name="img" accept="image/*">
        </div>
        <!-- <button type="submit" class="btn btn-info">Submit</button> -->
        <button  id='submit' class="btn btn-primary">Log In</button>
      </form>
    </div>
    
  </div>
</div>

	<!-- script references -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

	</body>
</html>
